body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /*color: 000;*/
    font-size: 16px;
    background-color: #EEEEEE;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    padding: 0;
    margin: 0;
    display: block;
}

form {
    margin: 0;
    margin-block-end: 0;
}

/**************header******************/
.header {
    overflow: hidden;
    background-color: #302F2F;
}

.logo {
    float: left;
    margin-left: 18px;
}

.logo a {
    font-weight: bold;
    font-size: 45px;
    color: #FFDD00;
    text-decoration: none;
}

.dropdown {
    margin-right: 70px;
}

.dropdown, .sign-in {
    float: right;
    display: inline-block;
}

.dropbtn, .sign-in-btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

.dropdown:hover .dropbtn, .sign-in:hover .sign-in-btn {
    background-color: #FFDD00;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EEEEEE;
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: #302F2F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #A2A2A2;
}

.sign-in a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

/**************menu********************/

.column-menu {
    padding-top: 35px;
    width: 25%;
    float: left;
}

.button-menu {
    background-color: #A2A2A2;
    border: none;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    margin: 4px auto;
    width: 100%;
    cursor: pointer;
}

/* Change the link color on hover and click */
.active, .button-menu:hover {
    background-color: #302F2F;
    color: white;
}

/**************main-box********************/

.column-main {
    width: 75%;
    float: left;
    min-height: 500px;
    padding-top: 35px;
}

/**************footer********************/

.footer {
    width: 100%;
    float: left;
    margin-top: 39px;
    background-color: #302F2F;
}

.about {
    display: block;
    float: right;
    padding: 10px 30px;
}

.about a {
    font-weight: normal;
    font-size: 10px;
    color: #FFDD00;
    text-decoration: none;
    text-align: center;

}

/*****************table********************/

.table {
    margin: 4px auto auto auto;
    width: 90%;
}

.table table {
    border-collapse: collapse;
    width: 100%;
}

.table td {
    font-size: 18px;
}

.table th, td {
    text-align: left;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2
}

.table th {
    background-color: #A2A2A2;
    color: black;
}

/****************add field********************/

.add-button, .remove-button {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    background-color: #302F2F;
    margin: 8px auto;
    border: none;
    cursor: pointer;
}

.add-button {
    padding: 0 14px;
}

.remove-button {
    padding: 0 18px;
}

.section div {
    display: inline-flex;
    width: 100%;
}

.section input[type=checkbox], .section-add input[type=checkbox] {
    margin: 25px 15px;
    display: inline-block;
}


/****************app request********************/


.dropdown-action {
    float: right;
    display: inline-block;
}

.dropbtn-action {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #302F2F;
}

.dropdown-action:hover .dropbtn-action {
    background-color: #FFDD00;
    color: black;
}

.dropdown-content-action {
    display: none;
    position: absolute;
    background-color: #EEEEEE;
    min-width: 80px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-action:hover .dropdown-content-action {
    display: block;
}

.dropdown-content-action input[type=submit] {
    color: #302F2F;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    text-align: left;
}

.dropdown-content-action input[type=submit]:hover {
    background-color: #A2A2A2;
}

.button-user input[type=submit] {
    text-align: center;
    width: 100%
}

/****************send request********************/

.send-request, .create-conference, .accept {
    width: 70%;
    margin: 4px auto auto auto;
    background-color: #A2A2A2;
    padding: 20px;
}

.checkboxes {
    margin-top: 15px;
    margin-bottom: 15px;
}

.checkboxes input[type=text] {
    margin-top: 10px;
}

.add-request input[type=checkbox] {
    position: absolute;
}

/**************form-sign-in********************/

.form-signin {
    width: 70%;
    align-items: center;
    margin: 4px auto auto auto;
    background-color: #A2A2A2;
    padding: 20px;
}


input[type=text],
input[type=password],
input[type=date],
input[type=time], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: inherit;
}

.accept input[type=submit], .send-request input[type=submit], .form-signin input[type=submit] {
    width: 100%;
    background-color: #302F2F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.accept input[type=submit]:hover,
.send-request input[type=submit]:hover,
.form-signin input[type=submit]:hover,
.add-button:hover, .remove-button:hover {
    background-color: #FFDD00;
    color: black;
}

.error {
    color: #FFDD00;
    text-align: center;
    margin-bottom: 15px;
}


/************* message form ******************/

textarea {
    width: 99%;
    resize: vertical;
    font-size: 18px;
}

.container label {
    margin: 12px 12px 12px 0;
    display: inline-block;
}

.container input[type=submit] {
    width: 100%;
    background-color: #302F2F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.show-message input[type=submit] {
    width: 50px;
    background-color: #302F2F;
    color: white;
    padding: 8px 8px;
    margin: 5px auto;
    border: none;
    cursor: pointer;
    display: block;
}

.show-message input[type=image] {
    display: block;
    padding: 0 5px;
    margin: 0 auto;
}

.show-message-d input[type=image] {
    padding: 0 5px;
    margin: 0 auto;
}


.container input[type=submit]:hover, .show-message input[type=submit]:hover {
    background-color: #FFDD00;
    color: black;
}

/********************************************************/

.col-15 {
    width: 15%;
}

.col-5 {
    width: 3%;
}

.col-20 {
    width: 20%;
}

.col-10 {
    width: 10%;
}

.col-85 {
    width: 85%;
}

.col-90 {
    width: 90%;
}

.col-60 {
    width: 60%;
}

.col-70 {
    width: 70%;
}

.col-75 {
    width: 75%;
}

.empty {
    width: 4%;
}

.deprecated {
    color: #A2A2A2;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input:invalid, textarea:invalid {
    border: #FFDD00 solid 1px;
}

.errorMessage {
    margin: 50px;
}

/************* paging ******************/

.page-number {
    margin: 7px 40px;
}


.paging {
    display: -webkit-box;
    margin: 10px auto;
    width: 20%;
}

.paging-button, .disable-button {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    background-color: #302F2F;
    border: none;
    cursor: pointer;
    padding: 4px 10px;
}

.paging-button:hover {
    background-color: #FFDD00;
    color: black;
}

/************* For mobile device: ************/
@media only screen and (max-width: 800px) {

    [class*="column-"] {
        width: 100%;
    }

    .logo a {
        font-size: 30px;
    }

    .dropdown {
        margin-right: 40px;
    }

    .dropbtn, .sign-in-btn {
        padding: 9px;
    }

    .button-menu {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }

    .column-menu {
        padding-top: 4px;
    }

    .table {
        width: 100%;
    }
}
